@import 'tailwindcss';

body {
	margin: 0;
	font-family: Arial, sans-serif;
}

.backgroundLogin {
	background-image: url('./img/background.jpg');
}

.gameBackground {
	background-image: url('./img/genie2.png');
	background-size: auto;
	background-position: center 0px;
	background-repeat: no-repeat;
}

.backgroundHome {
	background-image: url('./img/Hero.jpg');
	background-size: cover;
	background-position: center;
}
