@import 'tailwindcss';

body {
	margin: 0;
	font-family: Arial, sans-serif;
}

.backgroundLogin {
	background: linear-gradient(135deg, #e4dcef, #e8f2fc);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.gameBackground {
	background-image: url('../public/Genio.png');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

.backgroundHome {
	background-image: url('../public/Hero.jpg');
	background-size: cover;
	background-position: center;
}
